@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-base: 'Outfit', sans-serif;
  --font-display: 'Young Serif', serif;


  font-family: var(--font-base);
}